# Data Augmentation
This process includes the following procedures;
- Data Mathcing
- Data Augmentation
- Data Shuffling

In [1]:
import pandas as pd
import numpy as np

In [200]:
df = pd.read_excel("data/dialog_200226.xlsx")

In [201]:
df.head(3)

,대분류,소분류,상황,Set Nr.,발화자,원문,번역문
0,비즈니스,회의,의견 교환하기,1,A-1,이번 신제품 출시에 대한 시장의 반응은 어떤가요?,How is the market's reaction to the newly rele...
1,비즈니스,회의,의견 교환하기,1,B-1,판매량이 지난번 제품보다 빠르게 늘고 있습니다.,The sales increase is faster than the previous...
2,비즈니스,회의,의견 교환하기,1,A-2,그렇다면 공장에 연락해서 주문량을 더 늘려야겠네요.,"Then, we'll have to call the manufacturer and ..."

In [202]:
df = df.rename(columns={"대분류": "major", '소분류':'minor', "상황":'situation','Set Nr.':'scenario', '발화자':'context_id', '번역문':'en'})

In [203]:
df = df[['major', 'minor', 'situation','scenario', 'en']]
df.head(5)

,major,minor,situation,scenario,en
0,비즈니스,회의,의견 교환하기,1,How is the market's reaction to the newly rele...
1,비즈니스,회의,의견 교환하기,1,The sales increase is faster than the previous...
2,비즈니스,회의,의견 교환하기,1,"Then, we'll have to call the manufacturer and ..."
3,비즈니스,회의,의견 교환하기,1,"Sure, I'll make a call and double the volume o..."
4,비즈니스,회의,의견 교환하기,2,Shall we take a look at the issues we discusse...

In [204]:
df[['major', 'minor', 'situation', 'en']].describe()

,major,minor,situation,en
count,100000,100000,100000,100000
unique,5,59,2779,99916
top,여행/쇼핑,쇼핑,"직장에서의 일상 대화 (상사, 동료, 부하 간의 대화)","Yes, how can I help you?"
freq,46524,10500,1320,4

In [11]:
df.groupby(['minor']).count().sort_values(by=['major'], ascending=False)

              major  situation  scenario     en
minor
쇼핑            10500      10500     10500  10500
부서별            9101       9101      9101   9101
교통             6844       6844      6844   6844
회의             6360       6360      6360   6360
여행             5225       5225      5225   5225
식당             5128       5128      5128   5128
공항             5092       5092      5092   5092
회사 내           4859       4859      4859   4859
숙소             4283       4283      4283   4283
음식점            4060       4060      4060   4060
학교             4052       4052      4052   4052
온라인 쇼핑         3960       3960      3960   3960
병원             3212       3212      3212   3212
미용실/스파/뷰티샵     2428       2428      2428   2428
엔터테인먼트         2236       2236      2236   2236
출장             2179       2179      2179   2179
영업             1960       1960      1960   1960
긴급 상황          1744       1744      1744   1744
운동             1560       1560      1560   1560
컨퍼런스           1524       1524      1524   1524
연예             1484       1484      1484   1484
관광             1468       1468      1468   1468
가정             1332       1332      1332   1332
전화             1288       1288      1288   1288
약국             1204       1204      1204   1204
회식              964        964       964    964
전화업무            908        908       908    908
회사              888        888       888    888
경기관람            560        560       560    560
인사              535        535       535    535
스포츠             440        440       440    440
숙박              400        400       400    400
금융              360        360       360    360
일상              304        304       304    304
취미/관심사          300        300       300    300
데이트             285        285       285    285
엔터테이먼트          232        232       232    232
병원/약국           200        200       200    200
미용실/스파/뷰티       180        180       180    180
호텔               44         44        44     44
외식               36         36        36     36
인사관리             36         36        36     36
미용               32         32        32     32
관공서/행정업무보는상황     20         20        20     20
사내 일상대화          20         20        20     20
IT/컴퓨터           20         20        20     20
회계/재무            20         20        20     20
경영/사무            20         20        20     20
법률               20         20        20     20
마케팅/홍보           20         20        20     20
무역               20         20        20     20
CS/고객상담          16         16        16     16
취직 면접 상황         12         12        12     12
취직면접상황            8          8         8      8
캠핑                4          4         4      4
집 안               4          4         4      4
연구실               4          4         4      4
신발가게              4          4         4      4
비즈니스              1          1         1      1

## Rename Lables
##### Kor -> Eng

In [4]:
tr_label = pd.read_excel('data/translated_label.xlsx', header=None)
tr_label.head(3)

          0     1
0  CS/고객상담     cs
1    IT/컴퓨터    it
2        가정  home

In [5]:
tr_label = tr_label.rename(columns={0:'kor', 1:'en'})
tr_label.head(3)

In [27]:
df['minor'].iloc[1] ='meeting'
df.head(3)

,major,minor,situation,scenario,en
0,비즈니스,"Series([], Name: en, dtype: object)",의견 교환하기,1,How is the market's reaction to the newly rele...
1,비즈니스,meeting,의견 교환하기,1,The sales increase is faster than the previous...
2,비즈니스,"Series([], Name: en, dtype: object)",의견 교환하기,1,"Then, we'll have to call the manufacturer and ..."

In [52]:
i = 0
for i in range(len(df)):
    df['minor'].iloc[i] = "".join(tr_label[tr_label['kor']==df['minor'].iloc[i]]['en'].values)

C:\Users\SeungJun\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [222]:
df.head()

,major,minor,situation,scenario,en
0,비즈니스,회의,의견 교환하기,1,How is the market's reaction to the newly rele...
1,비즈니스,회의,의견 교환하기,1,The sales increase is faster than the previous...
2,비즈니스,회의,의견 교환하기,1,"Then, we'll have to call the manufacturer and ..."
3,비즈니스,회의,의견 교환하기,1,"Sure, I'll make a call and double the volume o..."
4,비즈니스,회의,의견 교환하기,2,Shall we take a look at the issues we discusse...

In [55]:
df.to_excel("data/dialog_personaen(en).xlsx")

## Set Dialog Dataset

In [262]:
import pandas as pd
df = pd.read_excel('data/dialog_personaen(en).xlsx', index_col=[0])
df.head(3)

,major,minor,situation,scenario,en
0,비즈니스,meeting,의견 교환하기,1,How is the market's reaction to the newly rele...
1,비즈니스,meeting,의견 교환하기,1,The sales increase is faster than the previous...
2,비즈니스,meeting,의견 교환하기,1,"Then, we'll have to call the manufacturer and ..."

In [414]:
def preprocessing(df, column_name):
    df[column_name] = df[column_name].str.lower()
    df[column_name] = df[column_name].str.replace("'ll", " will")
    df[column_name] = df[column_name].str.replace("'re", " are")
    df[column_name] = df[column_name].str.replace("’re", " are")
    df[column_name] = df[column_name].str.replace(".", " .")
    df[column_name] = df[column_name].str.replace(",", " ,")
    df[column_name] = df[column_name].str.replace("?", " ?")
    df[column_name] = df[column_name].str.replace("!", " !")
    df[column_name] = df[column_name].str.replace("'", "")
    return df[column_name]

## 줌마영어 교재 Persona
Reduce the number of tokenized input data(=personality) to even number of answer due to memory problems with memory

In [5]:
zuma_bk = pd.read_excel('data/zuma_eng_book.xlsx').rename(columns = {'상황': 'unit', '번역문': 'persona'})
# zuma_bk['unit'] = preprocessing(zuma_bk, 'unit')
# zuma_bk['persona'] = preprocessing(zuma_bk, 'persona')

zuma_bk.head(20)

                      unit                                 persona
0   immigration checkpoint                Can I see your passport?
1   immigration checkpoint                     Sure. Here you are.
2   immigration checkpoint  Is this your first visit to Singapore?
3   immigration checkpoint                             Yes, it is.
4   immigration checkpoint                Where wii you be staying
5   immigration checkpoint      I will be staying at the EF hotel.
6   immigration checkpoint           How long will you be staying?
7   immigration checkpoint       I will be staying for three days.
8   immigration checkpoint                 Please enjoy your stay.
9   immigration checkpoint                              Thank you.
10               In a Taxi             Where would you like to go?
11               In a Taxi         I'd like to go to the EF hotel.
12               In a Taxi                       okay. No problem.
13               In a Taxi                  How long will it take?
14               In a Taxi             It is 20 minutes from here.
15               In a Taxi  okay. Thank you. Are you almost there?
16               In a Taxi     Yes, we are. We will be there soon.
17               In a Taxi                         How much is it?
18               In a Taxi                        it's 19 dollars.
19               In a Taxi  Here you are. You can keep the change.

In [451]:
units = np.unique(zuma_bk['unit'].values)
unit_persona = [{"unit":unit, 'persona': list(zuma_bk[zuma_bk['unit']==unit]['persona'].values)} for unit in units]
unit_persona[0]

{'unit': 'asking for directions',
 'persona': ['excuse me ?',
  'yes ?',
  'im new here . can you tell me how to get to the ef hotel , please ?',
  'oh , no problem , actually you are not far away at all',
  'o .k . how long will it take from here ?',
  'its about a 5 minute walk',
  'great . how do i get there ?',
  'go along this road untill you get to the 5th avenue',
  '5th avenue ?',
  'right , make a right turn there . then , the ef hotel will be on your right .',
  'thanks a million',
  'you are welcome']}

In [445]:
zuma_bk[zuma_bk['unit']=="asking for directions"]['persona'].values[0::2]

array(['excuse me ?',
       'im new here . can you tell me how to get to the ef hotel , please ?',
       'o .k . how long will it take from here ?',
       'great . how do i get there ?', '5th avenue ?', 'thanks a million'],
      dtype=object)

In [446]:
def candidateHistory_test(scenario_df):
    utterances = []
    
    scenarioNum = list(scenario_df['scenario'].values)[0]
    
    
    history_values = scenario_df[scenario_df['scenario']==scenarioNum]['en'].values

    # 1번 context // 1개 history
    contextNum =0
    # eat 영역에서 19 랜덤 추출 + 선택된 시나리오ID에 다음 대화 추가(정답 LABEL)
    candidate = list(np.append(np.random.choice(scenario_df['en'], 19), history_values[contextNum+1]))
    
    history_temp = []
    history_temp.append(scenario_df[scenario_df['scenario']==scenarioNum]['en'].values[(contextNum)])

    utterance = {"candidates": candidate, "history":history_temp}
    utterances.append(utterance)

    # 2번 context // 3개 history
    contextNum =3
    candidate = list(np.append(np.random.choice(scenario_df['en'], 19), history_values[contextNum]))
    history = list(scenario_df[scenario_df['scenario']==scenarioNum]['en'].values[: contextNum])

    utterance = {"candidates": candidate, "history":history}
    utterances.append(utterance)


    # 3번 context // 4개 history -> 홀수 개의 history가 아니므로 가짜 history 1개 추가(정답 sentence없음) 
    # 임의의 가짜 history를 추가 하여 5개의 history 맞춤.
    candidate = list(np.random.choice(scenario_df['en'], 20)) #임의의 candidate
    history = list(scenario_df[scenario_df['scenario']==scenarioNum]['en'].values) 
    history.append(scenario_df[scenario_df['scenario']==scenarioNum]['en'].values[0])    # 임의의 가짜 히스토리    

    utterance = {"candidates": candidate, "history":history}
    utterances.append(utterance)
    
    return utterances

In [506]:
# making history and persona dataset that are same

def candidateHistory_same(personality):
    utterances = []
    histories = personality
    for num in range(len(histories)):
        if (len(histories[num])%2):
            pass # odd number is passed
        else:  # even number should be deleted (last list) to make list of the number of odd
            histories[num] = histories[num][:-1]
 
    for sentenceNum in range(len(histories))[::2]:
        try:
            candidate = list(np.append(np.random.choice(scenario_df['en'], 19), histories[sentenceNum+1]))
        except:
            continue
        history = histories[:sentenceNum+1]
        utterance = {"candidates": candidate, "history":history}
        utterances.append(utterance)
    return utterances

In [452]:
# for unit personality and situation history
data = []
for unit in unit_persona:
    categories = unit_df[unit_df['unit']==unit['unit']]['category'].values
       
    scenario_df = df[df['minor']=="".join(categories[0][0])][['scenario', 'en']]
    scenario_df['en'] = preprocessing(scenario_df, 'en')
    utterances=candidateHistory_test(scenario_df)
    
    data.append({"personality": unit['persona'], 'utterances':utterances})

In [507]:
# for same personality and history
data = []
for unit in unit_persona:
    personality = unit['persona']
    utterances=candidateHistory_same(personality)
    data.append({"personality": personality, 'utterances':utterances})

### Load Conversational Train and Valid Data

In [509]:
train_val = {"train": data, "valid": data}

In [510]:
with open('data/en_book_conversational.json', 'w', encoding="utf-8") as make_file:
    json.dump(train_val, make_file, ensure_ascii=False, indent="\t")

- Matching similar situations to chapters in the textbook
- 'minor' means 'situations'

In [342]:
unit_df = pd.read_excel('data/textbook_unit.xlsx', index_col=[0])
unit_df['unit'] =unit_df['unit'].str.lower()
unit_df['category'] = unit_df['category'].str.split(", ")
unit_df.head(3)

                             unit          category
0           asking for directions         [traffic]
1  asking someone to take a photo            [tour]
2                 at a restaurant  [eatout, eatery]

In [152]:
dialogs = np.unique(eat_df['scenario'].values)
utterances = []
for dialog in dialogs:
    utterances+=candidateHistory(dialog)

data = {"personality": eat_persona, "utterances": utterances}

In [153]:
data['utterances'][2]

{'candidate': ['I will pay for this, would you pay at the café later?',
  'How about this cream cheese spaghetti then?',
  "The only dish that doesn't have flour is the salad.",
  "It's one of the top3 pizzerias in New York, how was it?",
  "It's not that the main menu tastes bad, but the side menu is particularly good.",
  'Can I change to a larger drink?',
  'Could you reheat the stew since it has gotten too cold?',
  "Yes, my companion couldn't eat lamb because they said it smelled.",
  "Don't you think this pork isn't cooked well enough?",
  'Can I choose any side menu?',
  'The payment amount is wrong, please cancel it and do it again.',
  'You can leave your number, and we will call you in case we get a table.',
  "Yes, my child loves it so much that I'd like to order some more.",
  'Not sure but I am expecting it to be between 15 to 20.',
  'Then we will wait, how long would it take until we get a table?',
  "I am afraid that we don't have any dried seaweed.",
  'Hold on. May I check and call you back?',
  'What is the dish that the customer over there is having now?',
  'I am sorry, but what month was the menu you are looking at issued?',
  "That's right, I don't think I can eat it any longer after eating it a few times since it is too sweet."],
 'history': ["Excuse me, there's a hair in my pasta.",
  'I apologize for the inconvenience, sir. I will serve you a new one soon.',
  "No, I don't want it. I want my money back.",
  "I'm sorry. I will pay more attention to hygiene.",
  "Excuse me, there's a hair in my pasta."]}

## Encode Labels
Encode target labels that is in 'minor' attribute

In [9]:
# cccc
minor_list = np.unique(df['minor'].values)

def merge_context(sap_df):
    merge = []
    for minor in minor_list:
            minor_sap_df = sap_df[sap_df['minor']==minor]['scenario']
            uniq_scenario_num = np.unique(minor_sap_df.values)

            for num in uniq_scenario_num:
                context = sap_df[(sap_df['scenario'] == num)& (sap_df['minor'] == minor)]['en'].values
                
                context = " ".join(context)
                merge_dict = {'minor':minor, 'scenario': num, 'en': context}
                merge.append(merge_dict)
                
    return merge

In [10]:
merge_context(df[:10])

[{'minor': '회의',
  'scenario': 1,
  'en': "How is the market's reaction to the newly released product? The sales increase is faster than the previous product. Then, we'll have to call the manufacturer and increase the volume of orders. Sure, I'll make a call and double the volume of orders."},
 {'minor': '회의',
  'scenario': 2,
  'en': "Shall we take a look at the issues we discussed by the end of the last meeting? I believe that this week's new issues are more urgent. Then, let's begin our meeting with the new issues. Sure, the related materials are ready in front of you."},
 {'minor': '회의',
  'scenario': 3,
  'en': 'Do you mean we need to order additional 2,000 items by this Friday? Yes, time is running short, but we can manage it.'}]

In [11]:
merge_df = pd.DataFrame(merge_context(df))

In [12]:
merge_df.to_csv('data/merge_dialog.csv')
merge_df.to_excel('data/merge_dialog.xlsx')

In [13]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(handle_unknown='ignore')
colum_list = np.unique(merge_df['minor'].values)
enc_df = pd.DataFrame(enc.fit_transform(merge_df[['minor']]).toarray() ,columns=colum_list)
enc_df

,CS/고객상담,IT/컴퓨터,가정,경기관람,경영/사무,공항,관공서/행정업무보는상황,관광,교통,금융,...,취직면접상황,캠핑,컨퍼런스,학교,호텔,회계/재무,회사,회사 내,회식,회의
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [14]:
merge_df = merge_df.join(enc_df)
merge_df

,minor,scenario,en,CS/고객상담,IT/컴퓨터,가정,경기관람,경영/사무,공항,관공서/행정업무보는상황,...,취직면접상황,캠핑,컨퍼런스,학교,호텔,회계/재무,회사,회사 내,회식,회의
0,CS/고객상담,17830,I have a question about the camera I bought th...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CS/고객상담,17831,I bought this cloth in this store 2 hours ago ...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CS/고객상담,17832,How much is the discount rate for carryover pr...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CS/고객상담,17833,I want to repair this bag strap so would the r...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,IT/컴퓨터,17820,You are the one who inquired about computer mo...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24999,회의,23101,The business profit for leisure is not good co...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25000,회의,23102,There has been a little dip in the domestic no...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25001,회의,23103,"Going by sectors, first, the sales for noodles...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25002,회의,23104,The sales have decreased due to the recent pol...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25003,회의,23105,What I just reported was written for the inves...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [33]:
merge_df.to_excel('data/merge_dialog_onehot.xlsx')

In [34]:
merge_df = merge_df.rename(columns={"scenario":"id", "en":"comment_text"})
del merge_df['minor']

In [35]:
merge_df.head(3)

,id,comment_text,CS/고객상담,IT/컴퓨터,가정,경기관람,경영/사무,공항,관공서/행정업무보는상황,관광,...,취직면접상황,캠핑,컨퍼런스,학교,호텔,회계/재무,회사,회사 내,회식,회의
0,17830,I have a question about the camera I bought th...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17831,I bought this cloth in this store 2 hours ago ...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17832,How much is the discount rate for carryover pr...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Data Shuffling

In [36]:
from sklearn.utils import shuffle
shuffled_df = shuffle(merge_df, random_state=0)

## Data Split
- Train data set : 90
- Valid data set : 10

In [37]:
x = int(90 *len(shuffled_df)/100)
train_df = shuffled_df.iloc[: x]
valid_df = shuffled_df.iloc[x :]

In [38]:
if (len(train_df) + len(valid_df) == len(shuffled_df)):
    print(True)

True

In [42]:
train_df.to_csv("data/train_sample.csv", index=False)
valid_df.to_csv("data/val_sample.csv", index=False)

### Set Labels

In [43]:
labels  = train_df.keys()[3:]
labels = pd.DataFrame(labels)
labels.to_csv('data/labels.csv',index=False)

In [49]:
pd.read_csv('/Users/seungjun/Google Drive/GraduateProject/fast-bert-seungjun/sample_data/multi_label_toxic_comments/label/labels.csv', header=None)[0].astype("str")

0          CS/고객상담
1           IT/컴퓨터
2               가정
3             경기관람
4            경영/사무
5               공항
6     관공서/행정업무보는상황
7               관광
8               교통
9               금융
10           긴급 상황
11             데이트
12          마케팅/홍보
13              무역
14              미용
15       미용실/스파/뷰티
16      미용실/스파/뷰티샵
17              법률
18              병원
19           병원/약국
20             부서별
21            비즈니스
22         사내 일상대화
23              쇼핑
24              숙박
25              숙소
26             스포츠
27              식당
28            신발가게
29              약국
30          엔터테이먼트
31          엔터테인먼트
32              여행
33             연구실
34              연예
35              영업
36          온라인 쇼핑
37              외식
38              운동
39             음식점
40              인사
41            인사관리
42              일상
43              전화
44            전화업무
45             집 안
46              출장
47          취미/관심사
48        취직 면접 상황
49          취직면접상황
50              캠핑
51            컨퍼런스
52              학교
53              호텔
54           회계/재무
55              회사
56            회사 내
57              회식
58              회의
Name: 0, dtype: object